body {
	background-color: rgba(255, 255, 255, 1);
}

h1, h2 {
	display: block;
	text-align: center;
	color: rgba(100, 100, 100, 1);
}

.top_error {
	margin-left: 2%;
}

.error {
	color: rgba(255, 0, 0, 1);
}

#sign_up, #log_in {
	float: left;
	border: 2px solid rgba(100, 100, 100, 1);
	border-radius: 10px;
	height: 500px;
	margin-right: 2%;
}

#sign_up {
	width: 50%;
	margin-left: 2%;
}

#log_in {
	width: 43.5%;
}